<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home: Edit</title>
  </head>
  <body>
    <% if(data){ %>
    <form action="/edit/<%= data.id %>" method="post">
      <input type="text" name="name" value="<%= data.name %>" />
      <input type="text" name="quote" value="<%= data.quote %>" />
      <input type="submit" value="Update" />
    </form>
    <% } %>
  </body>
</html>
