.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("./components/im1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.left {
  width: 80vw;
  height: 100vh;
  background-image: url("./components/im1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  width: 40%;
  height: 100vh;
  background-color: #000;
  padding: 6%;
  align-items: center;
  justify-content: center;
}
.right * {
  font-size: 20px;
  padding: 10x;
}

.header {
  display: flex;
  text-align: center;
  background-color: rgba(238, 130, 238, 0.512);
  height: 80px;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px 20px;
  font-family: "Rubik Moonrocks", cursive;
  color: white;
  width: 80%;
}

form {
  height: 350px;
  background-color: rgba(0, 255, 128, 0.155);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

button {
  color: white;
  background-color: cornflowerblue;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Rubik Moonrocks", cursive;
}

h1 {
  color: white;
  margin-top: 50px;
}
