<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin: <%= title%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body class="flex flex-col w-screen h-screen">
    <div
      class="flex h-[10%] p-5 items-center justify-between w-screen bg-[url('/bg.svg')] bg-no-repeat bg-cover"
    >
      <div class="navbar">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">Welcome to InventMS</a>
        </div>
        <div class="flex-none">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar online">
              <div class="w-10 rounded-full">
                <img src="https://placeimg.com/80/80/people" />
              </div>
            </label>
            <ul
              tabindex="0"
              class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
            >
              <li>
                <a class="justify-between">
                  Profile
                  <span class="badge">New</span>
                </a>
              </li>
              <li><a href="/admin/storage">Storage</a></li>
              <li><a href="/admin/items">Add Items</a></li>
              <li><a href="/admin/orders">Orders</a></li>
              <li><a href="/admin/add-order">Add Order</a></li>
              <li><a href="/admin/shipments">Shipments</a></li>
              <li><a href="/admin/add-shipment">Add Shipment</a></li>
              <li><a href="/admin/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-[92%] h-screen items-center justify-center">
      <form
        class="flex flex-col justify-around h-[70%]"
        action="/admin/add-order"
        method="post"
      >
        <input
          type="number"
          name="order_no"
          placeholder="Order Number"
          class="input"
          required
        />
        <input
          type="number"
          name="item_id"
          placeholder="Item ID"
          class="input"
          required
        />
        <input
          type="number"
          name="quantity"
          placeholder="Quantity"
          class="input"
          required
        />
        <input
          type="number"
          name="barcode"
          placeholder="Barcode"
          class="input"
          required
        />
        <label for="date_r"
          >Date required
          <input type="date" name="date_r" class="input input-date" />
        </label>
        <label for="date_c"
          >Date Completed
          <input type="date" name="date_c" class="input input-date" />
        </label>
        <input type="submit" value="ADD" class="btn btn-primary btn-wide" />
      </form>
    </div>
  </body>
</html>
