<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin: Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body class="flex flex-col w-screen h-screen">
    <!--
    <div
      class="flex flex-col h-screen p-8 items-center justify-between w-[20%] bg-[url('/bg.svg')] bg-no-repeat bg-cover"
    >
      <div class="flex flex-col items-center">
        <div class="avatar online">
          <div class="w-24 rounded-full">
            <img src="https://placeimg.com/192/192/people" />
          </div>
        </div>
        <h2 class="text-l font-thin">Welcome : Admin</h2>
      </div>
      <a href="/admin/logout" class="btn">Logout</a>
    </div>
    <div class="flex w-[80%] h-screen items-center justify-center">
      <h1 class="text-4xl text-center">Under Development...</h1>
    </div>
  </body>
-->
    <div
      class="flex h-[10%] p-5 items-center justify-between w-screen bg-[url('/bg.svg')] bg-no-repeat bg-cover"
    >
      <div class="navbar">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">Welcome to InventMS</a>
        </div>
        <div class="flex-none">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar online">
              <div class="w-10 rounded-full">
                <img src="https://placeimg.com/80/80/people" />
              </div>
            </label>
            <ul
              tabindex="0"
              class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
            >
              <li>
                <a class="justify-between">
                  Profile
                  <span class="badge">New</span>
                </a>
              </li>
              <li><a>Settings</a></li>
              <li><a href="/admin/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex w-[92%] h-screen items-center justify-center">
      <h1 class="text-4xl text-center">Under Development...</h1>
    </div>
  </body>
</html>
