@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
body {
  margin: 0;
  font-family: "Edu VIC WA NT Beginner", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input,
button {
  font-family: "Edu VIC WA NT Beginner", cursive;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
