.main {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 450px;
  background: linear-gradient(to right, #f2db2b, rgb(41, 222, 222));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background: rgba(255, 255, 255, 0);
  border: none;
  font-size: 36px;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  transition: all 0.2s;
  margin: 10px;
  border: 2px solid black;
}

span {
  font-size: 36px;
}
